<!-- 
    使用事件监听实现 全选 需求
    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <!-- 1、引入vue -->
    <script src="js/vue.js"></script>

    <link rel="stylesheet" href="css/demo.css">
</head>

<body>
    <div class="box" id="app">
        <div class="tit">
            <ul class="t_head">
                <li></li>
                <li>猫咪品种</li>
                <li>单价</li>
                <li>数量</li>
                <li>总价</li>
                <li></li>
            </ul>
        </div>
        <!-- 定义一个容器 -->
        <div class="t_con">
            <ul v-for="(item,index) in obj">
                <li class="check">
                    <input type="checkbox" v-model="item.isChecked" @change="checkSingle">
                </li>
                <li class="goods">
                    <img :src="item.goodsPic" alt="buou">
                    <span>{{item.goodsName}}</span>
                </li>
                <li class="price">{{item.price}}元</li>
                <li class="num">
                    <!-- 减 ，index 是传入的参数索引-->
                    <a href="javascript:;" @click="mul(index)">-</a>
                    <!-- 输入 -->
                    <input type="text" class="number" v-model.number="item.count" >
                    <!-- 加 -->
                    <a href="javascript:;" @click="item.count++">+</a>
                </li>
                <li class="sum">￥{{item.count*item.price}}元</li>
                <li class="del">
                    <a href="javascript:;"><img src="./img/del.png" alt="del"></a>
                </li>
            </ul>
        </div>
        <ul class="t_foot">
            <li class="ck">
                <input type="checkbox" v-model="allChecked" @change="checkAll">
                <span class="truech">全选</span>
                <span class="falsech">取消全选</span>
            </li>
            <li class="sumnum">
                <!-- 总价 -->
                <p class="money">Total:￥<i>{{totle}}</i>元</p>
                <p class="all"><a href="javascript:;">结算</a></p>
            </li>
        </ul>
    </div>
    <script>
        // 3、实例化vue
        let vm = new Vue({
            el: "#app",
            methods: {
                // 商品数量减少
                mul(i) {
                    if (this.obj[i].count > 1) {
                        this.obj[i].count--;
                    }
                },
            },
            computed: {
                // totle 的渲染结果就是 该函数的返回值
                totle:function(){
                    var sum = 0;
                    this.obj.map(item => {
                        sum += item.count * item.price;
                    })
                    return  sum;
                },
            },
            methods:{
                // 全选的选中事件
                checkAll(){
                    console.log(this.allChecked);
                    this.obj.map(item=>item.isChecked = this.allChecked)
                },
                // 单个商品的选中
                checkSingle(){
                    var everyChecked = this.obj.every(item=>item.isChecked);
                    this.allChecked = everyChecked;
                }
            },
            data: {
                // 全选状态
                allChecked:false,
                obj: [{
                    "goodsId": "001",
                    "goodsName": "布偶",
                    "price": 12000,
                    "count": 1,
                    "goodsPic": "./img/buou.jpg",
                    isChecked:true

                }, {
                    "goodsId": "002",
                    "goodsName": "金吉拉",
                    "price": 1900,
                    "count": 2,
                    "goodsPic": "./img/jjl.jpg",
                    isChecked:false

                }, {
                    "goodsId": "003",
                    "goodsName": "折耳猫",
                    "price": 3200,
                    "count": 1,
                    "goodsPic": "./img/ze.jpg",
                    isChecked:false

                }, {
                    "goodsId": "004",
                    "goodsName": "金渐层",
                    "price": 8500,
                    "count": 2,
                    "goodsPic": "./img/jjc.jpg",
                    isChecked:false

                }, {
                    "goodsId": "005",
                    "goodsName": "蓝白",
                    "price": 2300,
                    "count": 1,
                    "goodsPic": "./img/lb.jpg",
                    isChecked:false

                }]
            }

        })
    </script>
</body>

</html>